<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
   justify-content: center;

  }
  h3{
      color: rgb(255, 255, 255);
  }
</style>

<div class="toolbar" role="banner">
  <h3> Data Bindings (string interpolation, property binding, event binding, two way data binding)</h3>
</div>
<!-- <div>{{title}}</div> -->
<app-post-create></app-post-create>